element.style {
}
user agent stylesheet
head {
    display: none;
}
:root {
    --tooltip-text-color: #fff;
    --tooltip-background-color: #000;
    --tooltip-margin: 30px;
    --tooltip-arrow-size: 6px;
}
:root {
    --color_0: 255,255,255;
    --color_27: 163,132,46;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_28: 245,198,69;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 0,0,0;
    --color_12: 59,59,59;
    --color_13: 102,102,102;
    --color_14: 209,209,209;
    --color_15: 255,255,255;
    --color_16: 46,40,47;
    --color_17: 120,104,122;
    --color_18: 230,199,235;
    --color_29: 248,225,159;
    --color_19: 238,211,242;
    --color_20: 240,228,242;
    --color_21: 79,29,14;
    --color_22: 158,59,27;
    --color_23: 254,96,47;
    --color_24: 243,167,143;
    --color_25: 249,197,180;
    --color_30: 252,236,191;
    --color_31: 21,41,27;
    --color_32: 43,83,54;
    --color_33: 100,206,187;
    --color_34: 127,168,139;
    --color_35: 177,211,187;
    --font_0: normal normal normal 60px/1.4em fahkwang,sans-serif;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --font_2: normal normal normal 40px/1.4em fahkwang,sans-serif;
    --font_3: normal normal normal 38px/1.4em fahkwang,sans-serif;
    --font_4: normal normal normal 35px/1.4em fahkwang,sans-serif;
    --font_5: normal normal normal 27px/1.4em fahkwang,sans-serif;
    --font_6: normal normal normal 25px/1.4em fahkwang,sans-serif;
    --font_7: normal normal normal 22px/1.4em 'helvetica neue',sans-serif;
    --font_8: normal normal normal 16px/1.4em 'helvetica neue',sans-serif;
    --font_9: normal normal normal 14px/1.4em 'helvetica neue',sans-serif;
    --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --wix-ads-height: 50px;
    --wix-ads-top-height: 50px;
    --site-width: 980px;
    --above-all-z-index: 100000;
Show All Properties (4 more)
}
<style>
:root {
    --cookie-banner-primary-color: #fff;
    --cookie-banner-secondary-color: #000;
    --cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
    --cookie-banner-font-size: 14px;
}
<style>
:root {
    --cookie-banner-primary-color: #fff;
    --cookie-banner-secondary-color: #000;
    --cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
    --cookie-banner-font-size: 14px;
}
<style>
:root {
    --cookie-banner-primary-color: #fff;
    --cookie-banner-secondary-color: #000;
    --cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
    --cookie-banner-font-size: 14px;
}
<style>
:root {
    --cookie-banner-primary-color: #fff;
    --cookie-banner-secondary-color: #000;
    --cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
    --cookie-banner-font-size: 14px;
}
<style>
:root {
    --cookie-banner-primary-color: #fff;
    --cookie-banner-secondary-color: #000;
    --cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
    --cookie-banner-font-size: 14px;
}
<style>
:root {
    --cookie-banner-primary-color: #fff;
    --cookie-banner-secondary-color: #000;
    --cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
    --cookie-banner-font-size: 14px;
}
<style>
:root {
    --cookie-banner-primary-color: #fff;
    --cookie-banner-secondary-color: #000;
    --cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
    --cookie-banner-font-size: 14px;
}
<style>
:root {
    --cookie-banner-primary-color: #fff;
    --cookie-banner-secondary-color: #000;
    --cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
    --cookie-banner-font-size: 14px;
}

<style>
:root {
    --cookie-banner-primary-color: #fff;
    --cookie-banner-secondary-color: #000;
    --cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
    --cookie-banner-font-size: 14px;
